@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');


body {
    margin: 0px;
    padding: 0px; 
}


header {
    background-color: black;
    background-attachment: fixed;
    background-size: 300vh;
}


h1{
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    text-align: center;
    font-weight: normal;

}
