@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');



body {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: '';
    color: white;
    text-align: center;
    background-color: black;

}